.footer__links-decoration {
    text-decoration: none;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    color: white;
  }
.footer__links-decoration:hover {
  text-decoration: underline;
}
